Learn how to use Jupyter Notebooks to read and right data from Databases with SQL.

In [1]:
import pandas as pd
import sqlite3

In [2]:
# !pip install ipython-sql

In [4]:
# Create a dataframe to import the data
df = pd.DataFrame({"Name" : ["Aakash", "Akshay", "Yogesh"],
                   "Age" : [29, 41, 35],
                    "City" : ["Pune", "Chennai", "Delhi"]})
df

     Name  Age     City
0  Aakash   29     Pune
1  Akshay   41  Chennai
2  Yogesh   35    Delhi

In [5]:
#Sqlite library and create connection

connection = sqlite3.connect('jupyter_sql.db')

In [6]:
df.to_sql("employee", connection)  # Created table as employee

In [9]:
# Load SQL module to ipython
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%sql sqlite:///jupyter_sql.db

In [12]:
%%sql
select * from employee

 * sqlite:///jupyter_sql.db
Done.

[(0, 'Aakash', 29, 'Pune'),
 (1, 'Akshay', 41, 'Chennai'),
 (2, 'Yogesh', 35, 'Delhi')]

In [14]:
%%sql
select count(*) from employee

 * sqlite:///jupyter_sql.db
Done.

[(3,)]